$primary:           #222222 !default;
$secondary:         #ffffff !default;
$tertiary:          #0088cc !default;
$quaternary:        #e45735 !default;
$header_background: #ffffff !default;
$header_primary:    #333333 !default;
$highlight:         #ffff4d !default;
$danger:            #e45735 !default;
$success:           #009900 !default;
$love:              #fa6c8d !default;
$wiki:              #408040 !default;


@import 'desktop/alert';
/*@import 'desktop/compose';*/
@import 'desktop/header';
@import 'desktop/login';
/*@import 'desktop/topic-list';*/
/*@import 'desktop/topic';*/
@import 'desktop/user-card';
@import 'desktop/banner';
@import 'desktop/history';
@import 'desktop/modal';
/*@import 'desktop/topic-post';*/
@import 'desktop/upload';
/*@import 'desktop/user';*/



