#web-phone {
	float: right;
	position: fixed;
	width:250px;
	right:10px;
	top: 50px;
	padding:10px;
	border:1px solid #000;
	border-top: 0;
	background-color:#ddd;
	color: #000;
	/*display:none;*/
	z-index:1000;
}

/* Phone Login State */
#phone-state.Trying { color:yellow !important; }
#phone-state.Online { color:lime !important;}
#phone-state.Busy { color:red !important; }
#phone-state.Offline { color:grey !important;}

#conference-controls {
	float:right;
}

.controls {
	float: right;
}

.leftBar {
	border-left: 1px solid #999;
}

.mandatory {
	color: red;
}

.danger {
	color: red;
}
