#web-phone {
	float: right;
	position: fixed;
	width:250px;
	right:10px;
	top: 50px;
	padding:10px;
	border:1px solid #000;
	border-top: 0;
	background-color:#f1f1f1;
	color: #000;
	/*display:none;*/
	z-index:1000;
}

#zm-phone{
	margin-bottom: 5px;
	color: #626262;
}
/* Phone Login State */
#phone-state.Trying { color:yellow !important; }
#phone-state.Online { color:green !important;}
#phone-state.Early { color:yellow !important; }
#phone-state.Ringing { color:yellow !important; }
#phone-state.Held { color:#ea8619 !important; }
#phone-state.Active { color:lime !important;}
#phone-state.Busy { color:lime !important;}
#phone-state.Offline { color:grey !important;}

#conference-controls {
	float:right;
}

#dest_number{
	margin-bottom: 5px;
}

.row {
	margin-top: 10px;
	margin-left: 10px;
}

.hgt{
	height: 16px;
}

.btn-circle {
	margin-left: 6px;
    margin-top: 3px;
    width: 48px;
    height: 48px;
    text-align: center;
    padding: 6px 0;
    font-size: 16px;
    line-height: 2.2;
    border-radius: 30px;
}

.controls {
	float: right;
}

.leftBar {
	border-left: 1px solid #999;
}

.mandatory {
	color: red;
}

.danger {
	color: red;
}

tr.disabled {
	color: #CCC !important;
}

.container {
	width: 100% !important;
}

#main {
	min-height: 480px;
}

#footer {
	text-align: center;
}

#loginbox {
	text-align: center;
}

#loginbox input {
	font-size: 40pt;
	text-align: center;
}

#loginbox button {
	font-size: 20pt;
}

.editable {
	background-color: yellow;
}

.editable2 {
	text-decoration: underline;
}

#notification {padding-right: 40px;padding-left: 40px;padding-top:10px;padding-bottom:10px;}
#notification.info  {color:lime !important;border:1px solid #FFF;}
#notification.error {color:#FFF !important;background-color: #F00;border:1px solid #FFF;}

tr.NONE {color: #DDD !important;}
tr.REGED {color: green !important;}
tr.NOREG {color: black !important;}
tr.TRYING{color: yellow !important;}
tr.FAIL_WAIT{color: #770 !important;}
tr.FAILED{color: red !important;}

tr.RINGING {color: yellow !important;}
tr.ACTIVE {color: red !important;}
tr.HELD {color: #ea8619 !important;}

.webcam {
  width: 100%;
  height: 100%;
  object-fit: inherit;
  display: none;
}

.dropzone {
	border: none;
}

.dropzone_active {
	border: dashed 2px black;
	/*background-color: gray;*/
	color: #DDD;
}

.dropzone_active a{
	color: #DDD;
}
