<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
	<title>小樱桃工单::登录</title>
	<link rel="stylesheet" href="//res.wx.qq.com/open/libs/weui/1.1.2/weui.min.css">
</head>
<body>
	<br/>
	<br/>

	<center>
		<img src="{{ headimgurl }}" width="60px" height="60px" style="border-radius:50%;" />
		<br>
		{{ nickname }}
	</center>

	<br/>

	<form method="post" action="{{ login_url }}">
		<div class="weui-cells weui-cells_form">
			<div class="weui-cell">
				<div class="weui-cell__hd"><label class="weui-label">用户名</label></div>
				<div class="weui-cell__bd">
					<input name="login" class="weui-input" type="text" pattern="[0-9a-zA-Z-]*" placeholder="请输入用户名"/>
				</div>
			</div>

			<div class="weui-cell">
				<div class="weui-cell__hd"><label class="weui-label">密码</label></div>
				<div class="weui-cell__bd">
					<input name="pass" class="weui-input" type="password" placeholder="请输入密码"/>
				</div>
			</div>

			<input type="hidden" name="id" value="{{ id }}"/><br/>
			<input type="hidden" name="ticket_id" value="{{ ticket_id }}"/><br/>

			<input type="submit" value="登录" class="weui-btn weui-btn_primary"/>
		</div>
	</form>

	{% if errmsg %}
	<div class="weui-msg">
		<div class="weui-msg__icon-area"><i class="weui-icon-warn weui-icon_msg"></i></div>
		<div class="weui-msg__text-area">
			<h2 class="weui-msg__title">{{ errmsg }}</h2>
			<p class="weui-msg__desc"></p>
		</div>
	</div>
	{% endif %}

</body>
</html>
